*.zip
*.7z
*.rar
*.tar
*.tar.gz
.DS_Store

openwrt

build-x86_64.bash
build-arm64.bash

# local env files
*env*

# Log files
*.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tmp
.tmp
.project
.classpath
.c9/
*.launch
.settings/
./.devcontainer/
./core
*.sublime-project
*.sublime-workspace
